@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Roboto&display=swap');


:root{
    ---font-principal:'Roboto', sans-serif;
}

.pagina{
    max-width: 900px;
    margin: 0 auto;
    
}

/*### CABEÇALHO ###*/

.cabecalho{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.cabecalho div{
    width: 50%;

}

.cabecalho div img{
    width: 45%;
}

.cabecalho div i{
    font-size: 2.2rem;
    cursor: pointer;
    margin-top: 3.9%;
}

.cabecalho div:nth-child(2){
    text-align: end;
}

/*### BANNER ###*/

.banner div{
    display: flex;
    width: 100%;
    margin-top: 3%;
    font-family: var(---font-principal);
    padding: 5%;
    font-weight: 400;
}

.banner div article{
    width: 50%;
    position: relative;
}

.banner div article h2{
    font-size: 3rem;
    position: absolute;
    right: 0;
}
