@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Quicksand:wght@300&family=Roboto&display=swap');


:root{
    ---font-principal:'Roboto', sans-serif;
    ---font-secundaria:'Quicksand', sans-serif;
}

.pagina{
    max-width: 1000px;
    margin: 0 auto;
    
}

/*### CABEÇALHO ###*/

.cabecalho{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.cabecalho div{
    width: 50%;
    padding: 1%;
}

.cabecalho div img{
    width: 45%;
}

.cabecalho div i{
    font-size: 2.2rem;
    cursor: pointer;
    margin-top: 3.9%;
}

.cabecalho div:nth-child(2){
    text-align: end;
}

/*### BANNER ###*/

.banner{
    background: url(../img/background.jpg)  fixed center;
    background-size: cover;
}

.banner div{
    display: flex;
    width: 100%;
    font-weight: 400;
    color: #fff;
}

.banner div article{
    width: 50%;
    position: relative;
    margin-top: 2%;
}

.banner div hr{
    margin: 2% 3% 0 3% ;
    background-color: rgb(232, 184, 70);
    padding: 0.7%;
    border: none;
    height: 80vh;
}

.banner div article:nth-child(3){
    width: 50% !important;
}

.banner div article h2{
    font-size: 3rem;
    position: absolute;
    right: 0;
    font-family: var(---font-principal);
}

.banner div article p{
    text-align: start;
    width: 50%;
    line-height: 30px;
    font-size: 1.1rem;
    font-family: var(---font-secundaria);
}

.banner div article button{
    background-color: rgb(232, 184, 70);
    transition: ease-in-out all 1s;
    font-size: 1.2rem;
    padding: 6% 25% 6% 25%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    font-family: var(---font-principal);
    margin-top: 5%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.banner div article button:hover{
    background-color: rgb(255, 201, 74);
    color: rgb(124, 124, 124);
}

/*### OPÇÕES ###*/
.option{
    background-color: black;
}

.option div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    text-align: center;
    padding: 0 3% 0 3%;
}

.option div article{
    background-color: #fff;
}

.option div article i{
    font-size: 4rem;
    margin: 5%;
    color: rgb(232, 184, 70);
}

.option div article h2{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(---font-principal);
    margin-bottom: 5%;
}

.option div article p{
    line-height: 20px;
    font-family: var(---font-secundaria);
}
